* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}

h1 {
  font-size: 1.75em;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  font-size: 1.25em;
  border: 1px solid black;
  float: right;
}

section {
  padding: 10px;
}

p {
  padding: 10px;
  border: 1px solid black;
  background-color: #999999;
}

#chicken {
  background-color: #D59898;
}

#beef {
  background-color: #C14543;
  color: white;
}

#sushi {
  background-color: #E5D198;
}

.row {
  width: 100%;
  background-color: lightblue;
}

/********** Desktop *********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
}
