* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-top: 20px;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.25em;
  padding: 5px 50px 5px 50px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  float: right;
}

p {
  padding: 10px;
  clear: right;
}

.food {
  background-color: #999999;
  border: 1px solid black;
  margin: 0px 10px 0px 10px;
}

#chicken {
  background-color: #D59898;
}

#beef {
  color: white;
  background-color: #C14543;
}

#sushi {
  background-color: #E5D198;
}

/********** Desktop *********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.33%;
    float: left;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
}
